<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="flex items-center justify-center bg-emerald-400 p-4">
      <div class="flex items-center justify-between flex-wrap w-4/5">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <a href="{{ url_for('home') }}" class="flex items-center">
            <img
              src="/static/images/logo.png"
              alt="Logo"
              class="h-8 w-8 mr-2"
            />
            <span class="font-semibold text-xl tracking-tight">
              KV Library
            </span>
          </a>
        </div>
        <!-- Navigation Repsonsive -->
        <div class="block lg:hidden">
          <button
            class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>

        <a
          class="cursor-pointer text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 transition-colors"
          href="{{ url_for('new_item') }}"
        >
          Add new item
        </a>
      </div>
    </nav>
    <div>
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for type, content in messages %}
      <div class="flex items-center justify-center">
        <div
          class="{{'bg-green-100 border border-green-400 text-green-700' if type == 'success' }} w-4/5 px-4 py-3 my-3 rounded relative"
          role="alert"
        >
          <span class="block sm:inline">{{ content }}</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg
              class="fill-current h-6 w-6 {{'text-green-500' if type == 'success' }}"
              role="button"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <title>Close</title>
              <path
                d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
              />
            </svg>
          </span>
        </div>
      </div>
      {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
